* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-12 {width: 100%;}

html {
  /*font-family: "Lucida Sans", sans-serif;*/
  font-family: 'Kanit', sans-serif;
}
.main{
  width: 100%;
  margin-top: 30px;
}
.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 0.8em;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;

}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #ECF0F1;
  color: #273746;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight: bold;
}

.menu li:hover {
  background-color: #D5D8DC;
  color: #34495E;
  cursor: pointer;
  font-weight: bold;

}
.modal_kpi_name{
  font-size: 1.2em;
}
.modal_kpi_code{
  font-weight: bold;
}