* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;

}
.tr-hovers:hover{
  color:#D35400;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.main{  
  width: 100%;
  margin-top: 110px;
}

html {
  font-family: 'Kanit', sans-serif;
  
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #ECF0F1;
  color: #273746;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight: bold;
}

.menu li:hover {
  background-color: #D5D8DC;
  color: #34495E;
  cursor: pointer;
  font-weight: bold;

}
.modal_kpi_name{
  font-size: 1.2em;
}
.modal_kpi_code{
  font-weight: bold;
}