table {
  border-collapse: collapse;
  width: 100%;

}

th{
  text-align: left;
  padding: 8px;
}

td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){
  background-color: #f2f2f2

}

th {
  background-color: #0B5345;
  color: white;

}

.ym{

}
.kcc{
 font-weight: bold;
}
.kca{

}
.kcb{

}