/* table {
    font-size: 14px;
    width: 100%;
    border: solid 1px #aaa999;
  }
  table tr th {
    border: solid 1px #aaa999;
  }
  table tr td {
    border: solid 1px #aaa999;
  }
  .pic{
      text-align: center;
  } */

  
table, tr,th, td {
  border: 1px solid black;
  border-collapse: collapse;
}