        body {
            background: #E5EDEB;
            margin-top: 14px;
        }
        
        .loading {
            background-image: url("ajax-loader.gif");
            background-repeat: no-repeat;
            display: none;
            /* height: 100px;
          width: 100px; */
        }
        
        .wi {
            width: 38%;
        }
        
        #itemname {
            width: 98%;
        }
        
        .btn {
            border: none;
            color: white;
            text-align: center;
            font-weight: bold;
            padding: 10px 36px;
            font-size: 14px;
            cursor: pointer;
        }
        
        .success {
            background-color: #138D75;
        }
        /* Green */
        
        .success:hover {
            background-color: #45B39D;
        }
        
        .list:hover {
            background: #BA4A00;
            cursor: pointer;
            /*font-weight: bold;*/
            color: #fff;
            font-size: 1.2em;
        }
        
        .list {
            background: #fff;
            font-size: 1.2em;
        }
        
        .hmain {
            width: 100%;
            font-weight: bold;
            font-size: 1.4em;
            text-align: center;
            color: #616A6B;
        }
        
        .detail {
            background: #CCD1D1;
            text-align: center;
        }
        /* .ta{
                border-color: #EAFAF1;
                border-bottom: 2px solid #16A085;
                background-color: lightgrey;
                }*/
        
        .dtim {
            background: #EAFAF1;
            color: #004D40;
            cursor: default;
        }
        /*      body,
                html {
                  color: #fff;
                  margin: 0;
                  height: 100%;
                  }*/
        
        .section {
            height: 100%;
            padding: 8px;
        }
        
        .section:nth-child(odd) {
            background-color: deepPink;
        }
        
        .section:nth-child(even) {
            background-color: mediumSpringGreen;
        }
        
        #scrollToTopButton {
            position: fixed;
            bottom: 40px;
            right: 40px;
            border-radius: 50%;
            cursor: pointer;
            background: #F39C12;
            padding: 0;
            border: 0;
            width: 60px;
            height: 60px;
            box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
            font-size: xx-large;
            outline: 0;
            visibility: hidden;
            transform: scale(0);
            opacity: 0;
            transition: 0.8s;
        }
        
        #scrollToTopButton.show {
            visibility: visible;
            transform: scale(1);
            opacity: 1;
        }
        
        .tel {
            /*color: #1F618D;*/
            font-weight: bold;
            font-size: 1.2em;
        }
        
        .cen {
            text-align: center;
        }
        
        .fad {
            color: #D35400;
            text-align: center;
            font-weight: bold;
        }
        
        .pass {
            font-weight: bold;
            font-size: 1.6em;
            color: #E3066E;
            cursor: pointer;
        }
        
        .u {
            color: #0B5345;
            font-weight: bold;
        }
        
        .war {
            color: #E3066E;
            text-align: center;
            font-weight: bold;
        }
        
        .bspan {
            font-weight: bold;
            color: #EA066F;
            font-size: 1.4em;
        }
        
        .cs1 {
            text-align: center;
            font-weight: bold;
            color: rgb(18, 138, 18);
        }
        
        .cs2 {
            text-align: center;
            font-weight: bold;
            color: #aa101d;
        }
        
        .cs3 {
            text-align: center;
            font-weight: bold;
            color: #b208b8;
        }